<%- include ('../layouts/adminHeader') -%>
    <h2 class="page-title">Add a category</h2>
    <a href="/admin/categories" class="btn btn-outline-primary">Back to all categories</a>
    <br /><br />
    <form method="POST" action="/admin/categories/add-category">
        <div class="form-group">
            <label for="">Title</label>
            <input type="text" class="form-control" name="title" value="<%= title %>" placeholder="Title" />
        </div>
        <button type="submit" class="btn btn-outline-success">Submit</button>
    </form>
<%- include ('../layouts/adminFooter') -%>